<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

	<targets>
		<target xsi:type="File" name="logfile" fileName="logs/log.txt" archiveFileName="logs/logfile.{#}.txt"
				archiveNumbering="DateAndSequence" archiveEvery="None" archiveOldFileOnStartup="true"
				maxArchiveFiles="10" concurrentWrites="true" keepFileOpen="false">
			<layout xsi:type="SimpleLayout" text="${longdate}|${level:uppercase=true}|${callsite:className=true:includeSourcePath=false:methodName=false:includeNamespace=false}|${message}${exception}" />
		</target>
		<target xsi:type="ColoredConsole" name="logconsole"  useDefaultRowHighlightingRules="false"
				layout="${level:uppercase=true}|${callsite:className=true:includeSourcePath=false:methodName=false:includeNamespace=false}|${message}${exception}">
			<highlight-row foregroundColor="White" condition="level == LogLevel.Info" />
			<highlight-row foregroundColor="Yellow" condition="level == LogLevel.Warn" />
			<highlight-row foregroundColor="Red" condition="level == LogLevel.Error" />
			<highlight-row foregroundColor="Magenta" condition="level == LogLevel.Fatal" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" maxlevel="Fatal" writeTo="logconsole" />
		<logger name="*" minlevel="Info" maxlevel="Fatal" writeTo="logfile" />
	</rules>
</nlog>